        .m-dongtai {
            @include flexbox();
            @include flex-direction(column);
            height: 100%;
            > * {
                width: 100%;
            }
            header {
                height: 0.44rem;
                background: #ff006a;
                ul {
                    @include flexbox();
                    height: 100%;
                    @include box-sizing(border-box);
                    padding: 0 3%;
                    li {
                        @include flex(1);
                        height: 100%;
                        line-height: 0.44rem;
                        color: #fff;
                        &:nth-child(2) {
                            font-size: 22px;
                            font-weight: 900;
                            text-align: center;
                        }
                        &:not(:nth-child(2)) {
                            font-size: 14px;
                        }
                        &:nth-child(3) {
                            text-align: right;
                        }
                    }
                }
            }
            nav {
                width: 100%;
                height: 0.36rem;
                background: #fff;
                ul {
                    @include flexbox();
                    height: 100%;
                    li {
                        @include flex(1);
                        @include box-sizing(border-box);
                        text-align: center;
                        line-height: 0.36rem;
                        font-size: 14px;
                        color: #000000;
                        font-weight: 900;
                        &.active {
                            color: #ff006a;
                            @include border(0 0 4px 0,#ff006a,solid);
                        }
                    }
                }
            }
            section {
                @include flex(1);
                width: 100%;
                height: 100%;
                .swiper-container {
                    width: 100%;
                    height: 100%;
                        .m-lifenav{
                          width:100%;
                          ul{
                              @include flexbox();
                              width:4rem;
                              li{
    
                                  @include border(1px 1px 1px 0);
                                  @include flex(1);
                                  text-align: center;
                                  line-height:.2rem;
                              }
                          }  
                        }
                }
            }
        }
    
